@import "tailwindcss";

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  /* Modal Container Base Styles */
  .modal-container-base {
    @apply bg-primary-lime shadow-hard-black;
  }

  /* Modal Input Base Styles */
  .modal-input-base {
    @apply w-[400px] h-14 p-2 border-t-2 border-neutral-black;
  }
}
